.conatainer2 {
    margin: auto;
    width: 50%;
    margin-bottom: 100px;


}

.banner {

    text-align: center;
    margin-top: 5px;
    padding: 3px;
    color: white;
    width: 100%;
    background-color: #132257;
}

h5 {

    text-align: center;
    border-radius: 5px;

}

.btn btn-success {
    margin: auto;
}

.form {

    border-radius: 10px;
    box-shadow: 10px 10px 20px #6699CC;
    margin: 3px;
    margin-bottom: 10px;
    padding: 10px;
    margin-bottom: 10px;

}

input,
select {
    border: 1px solid;
}

.mb-5 {
    text-align: center;
}

label {

    font-size: 18px;
}

.btn:hover {

    box-shadow: 5px 5px;
    box-shadow: rgb(16, 125, 161);
    background-color: #1e183a;
    border-radius: 0;
    scale: 1.1;
    border-radius: 3px;

}