.slider{
    object-fit: fill;
    text-align: center;
}
img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 10px;
    border-radius: 10px;
    box-shadow: 3px 2px 2px 2px;
    margin-right: 15px;
  }
  body{
    margin: 0%;
    border: 0%;
    padding: 0%;
    background: rgb(243,246,255);
    background: linear-gradient(90deg, rgba(243,246,255,1) 0%, rgba(219,217,255,1) 50%,  rgba(243,246,255,1)100%);
}