<body>
  <section>
    <div class="banner">
      <div class="container1">
        <div class="row">
          <div class="left-side">
            <div class="info">
              <h1>Welcome to Event Ease</h1><h4>Where moments become memories</h4><br><br>
              <a href="#"><i class="fa fa-quote-left"></i></a>
             
              <a href="#"><i class="fa fa-quote-right"></i></a>
            </div>
 
          </div>
          <div class="right-side">
            <div class="about-img">
              <img src="assets/bg.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section>
      <div class="heading">
        <h3>Your ideal backdrop for any event</h3>
      </div>
      <div class="paragraph">
        <p>If you’re looking for profound event management experts in  Mumbai, you’ve come to the right place! One of the best event management companies in  Mumbai, Event Ease Events offers 360-degree solutions for personal and professional events. Our team have experienced wedding planners, chefs and event managers to take care of the minutest details and make your dream wedding a reality.</p>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="column">
         
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/Cvent-Corporate-event (1).jpg" alt="Avatar">
                  <div class="centered">Cooperate Events</div>
                </div>
                <div class="flip-card-back">

                  <p>We’re your partners in hosting mesmerizing, high-impact and successful corporate events. We plan, execute and market all types of events that mirror your branding and catalyze your company’s growth and development.</p>
                 
               
                </div>
              </div>
            </div>
         
        </div>
       
        <div class="column">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/catering.jpg" alt="Avatar" >
                <div class="centered">Catering Service</div>
              </div>
              <div class="flip-card-back">
              
                <p>If there’s something that guests cherish the most at an event after you is the food. Finest in the food industry since the year 1977, we offer full-service catering at affordable prices. We offer delicious recipes, world-class décor and great hospitality that makes food the highlight of your event</p>
                
               
              </div>
            </div>
          </div>
        </div>
       
        <div class="column">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/wedding1.jpg" alt="Avatar">
                <div class="centered">Weeding Events</div>
              </div>
              <div class="flip-card-back">
                
                <p>Trust us to turn your special day into a sweet fairytale. Our team of expert wedding planners engage in months of planning and days of execution to help you live your moments of joy.</p>
               
               
              </div>
            </div>
          </div>
        </div>
       
        <div class="column">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/concert.jpg" alt="Avatar">
                <div class="centered">Concerts</div>
              </div>
              <div class="flip-card-back">
               
                <p>Concerts are the best place for people to relax, enjoy and have a blast at! We at Red Letters Events take care of the minutest of details to deliver an extraordinary experience to the artists, guests and the audience.</p>
                
                 
              </div>
            </div>
          </div>
        </div>
       
        <div class="column">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/exhibition.jpeg" alt="Avatar">
                <div class="centered">Exhibition</div>
              </div>
              <div class="flip-card-back">
               
                <p>Exhibitions are an escape from the real world. We possess decades of expertise in this realm and manage complete end-to-end exhibition management for you. From business requirements to personal needs - we can organize an exhibition that becomes the “Event of the Month”!</p>
                
              </div>
            </div>
          </div>
      </div>
      <div class="column" >
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/special.jpg" alt="Avatar">
              <div class="centered">Special Events</div>
            </div>
            <div class="flip-card-back">
            
              <p>Birthday Parties | Anniversaries | New Year Parties | Indian Festival Celebrations | Corporate Gatherings</p>
              
               
            </div>
          </div>
        </div>
      </div>
      </div>
  
    </section>
    <section>
  <div class="venue"> <h2>Our Venues</h2></div>
  <div class="container2">
    <div class="box">
      <div class="box-img">
        <img src="assets/luxoy.jpeg">
      </div>
   
      <div class="box-text">
        <h2>Virupaksha Mangal Karyalay</h2>
        <p>
          Has your search for ‘professional and luxurious banquets near me’ or ‘beautiful and huge marriage hall near me’ always led to disappointment? If yes, it was perhaps because you didn’t get to know about us! 

We have the perfect banquet hall for your perfect event. Virupaksh Mangal Karyalay, the most luxurious banquet hall in  Mumbai, is spread across 33,700 sq. ft. With a capacity of 100 to 1000 guests in each ballroom, space will never be a concern for you. We aim to deliver royal service with highly trained staff.</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img">
        <img src="assets/banquet.jpg">
      </div>
      <div class="box-text">
        <h2>Royal Banquet</h2>
        <p> Royal Banquet- Event Ease events in  Mumbai, is one of the most sought after venues for events in the area. Royal Banquet hall In  Mumbai, is situated in a prominent, well-connected area and is simple for your guests to find and visit. Our state-of-the-art architecture, as well as the artistry shown in its exquisite design and magnificent experience, is what resonates to our guests. As a well-known business, it serves as a one-stop shop for many clients.</p>
      </div>
    </div>
    <div class="box">
      <div class="box-img">
        <img src="assets/dest.jpg">
      </div>
      <div class="box-text">
        <h2>ANG Farms & Resorts</h2>
        <p>
          Are you planning a destination wedding in Karjat? We have the best recommendation for you. Ang Farms & Resorts, located near the western ghats, is one of Maharashtra’s hidden treasures. The sun rises over the foothills of the great Sahyadri mountains in Vinegaon, Raigad, making this hidden gem the perfect picturesque destination for your special day.
        </p>
      </div>
    </div>


  </div>
    <div class="happy">
     <h2> Happy Moments</h2>
    </div>
  </section>


  <div>
          <section>
                  <div class="slideshow-container">
                          <div class="slideshow">
                                  <img src="assets/birthday_event 1.jpg" alt="Image 1">
                                  <img src="assets/catering-services-1.jpg" alt="Image 2">
                                  <img src="assets/Event-Planning-Business-in-plan 1.jpg" alt="Image 3">
                                  <img src="assets/Family-Reunion-event 1.jpg" alt="Image 3">
                                  <img src="assets/event13.jpg" alt="Image 3">
                                  <img src="assets/event15.jpg" alt="Image 3">
                                  <img src="assets/event17.jpeg" alt="Image 3">
                                  <img src="assets/event18.jpg" alt="Image 3">
                                  <img src="assets/wedding_event 1.jpg" alt="Image 3">
                          </div>
                  </div>
          </section>

  </div>
  <div class="footer-basic">
    <footer>
        <div class="social">
            <img class ="icons" src="assets/facebook.png" alt="">
            <img class ="icons" src="assets/instagram.svg" alt="">
            <img class ="icons" src="assets/twitter.svg" alt="">
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Event Ease © 2024</p>
    </footer>
</div>
</body>